
<!-- / This page will handle all the error pages-->
<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<link rel="icon" href="/sun.png">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>{{errorMessage}}</p>
	</div>
	
	{{>footer}}
</body>
</html>