<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="icon" href="./sun.png">
	<link rel="stylesheet" type="text/css" href="./css/styles.css"> 
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This is a weather website, it provides both current weather condition and weather forecast.</p>
		<p>This is site is created by Pradeep Singh under guidance of Sir Andrew Mead.</p>
		<p><img src="./Pradeep Singh_NIT Silchar.jpg"></p>
	</div>
	
	{{>footer}}
</body>
</html>