<header>
	<h1>{{Heading}}</h1>

	<!-- Navigation Bar-->
	<ul>
		<li><a class="button"  href="/">Home</a></li>
		<li><a class="button"  href="/about">About</a></li>
		<li><a class="button"  href="/help">Help</a></li>
	</ul>
</header>